body{
    background-color: #171717;
    height: 100vh;
}

nav{
    margin: auto;
    width: 30%; 
    background-color: #1c1c1c;
    border-radius: 5px;
}
nav ul{
    list-style-type: none;
    display: flex;
    background-color: #1c1c1c;
    border-radius: 5px;
}
nav ul a{
    text-decoration: none;
    color: white;

    transition: 0.5s;
}
nav ul a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}
nav ul .nav-bar-components{
    margin-left: 23px;
    padding: 20px;
}

.reserve-button{
    position: absolute;
    right: 10%;
    top: 2.0%;
    padding: 20px;
    background-color: rgb(255, 212, 57);
    border: rgb(255, 212, 57);
    border-radius: 5px;
}